
.profile-settings-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Arial, sans-serif;
  padding: 20px;
  background-color: #f9f9f9;
}

.header {
  width: 100%;
  text-align: left;
  font-size: 20px;
  font-weight: bold;
  color: #333;
  margin-bottom: 20px;
}

.main-content {
  width: 100%;
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.profile-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f2f2f2;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.profile-info h2 {
  font-size: 18px;
  margin: 0;
}

.profile-info p {
  margin: 2px 0;
  font-size: 14px;
  color: #666;
}

.edit-button {
  background: none;
  border: none;
  font-size: 18px;
  cursor: pointer;
}

.settings h2 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.currency-settings {
  margin-bottom: 20px;
}

.currency-settings label {
  display: block;
  font-size: 14px;
  margin-bottom: 5px;
  color: #555;
}

.currency-settings select {
  padding: 5px 10px;
  font-size: 14px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #fff;
}

.account-details h3 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
}

.account {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

.account input[type="text"],
.account input[type="number"] {
  padding: 8px;
  font-size: 14px;
  border: 1px solid #ddd;
  border-radius: 5px;
  flex: 2;
}

.add-account {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 8px 15px;
  font-size: 14px;
  border-radius: 5px;
  cursor: pointer;
}

.add-account:hover {
  background-color: #0056b3;
}

.remove-button {
  background: none;
  border: none;
  color: red;
  font-size: 18px;
  cursor: pointer;
  flex: 0.5;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-us {
  padding: 15px;
  background-color: #f2f2f2;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.contact-us h3 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
}

.contact-us p {
  font-size: 14px;
  color: #666;
  margin: 5px 0;
}